<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>nt21.unoeuro.com</MSDeployServiceURL>
    <DeployIisAppPath>technewsnordic.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>technewsnordic.com</UserName>
    <_SavePWD>True</_SavePWD>
    <!-- We must not edit permissions trough WebDeploy, permissions are handled on the IIS -->
    <IncludeSetAclProviderOnDestination>False</IncludeSetAclProviderOnDestination>
    <!-- Exclude UmbracoForms data folder, we don't want to override -->
    <ExcludeFoldersFromDeployment>App_Plugins/UmbracoForms/Data;css</ExcludeFoldersFromDeployment>
    <!-- Exclude: Bower files, node.js files, grunt files and etc. -->
    <ExcludeFilesFromDeployment>.bowerrc;bower.json;package.json;gruntfile.js;packages.config;*.ts;*.less;*.scss</ExcludeFilesFromDeployment>
    <!-- This is because we are using revisioning -->
    <MSDeployUseChecksum>True</MSDeployUseChecksum>
    <!-- We don't or might want the app to be offline during deployment. -->
    <EnableMSDeployAppOffline>False</EnableMSDeployAppOffline>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mssql7.unoeuro.com;Initial Catalog=technewsnordic_com_db;User ID=technewsno_com;Password=KKuxvu6d" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mssql7.unoeuro.com;database=technewsnordic_com_db;user id=technewsno_com;password='KKuxvu6d'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>