@import (reference) "../bootstrap/variables.less";
@import (reference) "../../components/bootstrap/less/mixins.less";
@import (reference) "../mixins.less";
@import (reference) "../utility.less";
@import (reference) "../bootstrap/type.less";

.btn {
    line-height: 1.2;
    border: none;
    padding: 17px 40px 16px 40px;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.03em;
    border-radius: 8px;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.75);
    .fluid-property(margin-bottom, 15, 20);

    &--fluid {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    &--sm {
        padding: 7px 15px;
        font-size: 13px;
        margin-bottom: 0;
    }

    &--green {
        background-color: @brand-alt;
        color: #fff;

        &:hover, &:focus {
            background-color: lighten(@brand-alt, 20%);
        }
    }
}

.btn--gradient {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #90A3B1, #556B7D);
    border: solid 1px #7B92A3;
    padding-left: 120px;
    padding-right: 120px;
    color: #fff;
    overflow: hidden;
    will-change: color, border-color, box-shadow;
    transition: color 150ms ease-in-out, border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

    > span {
        position: relative;
        z-index:2;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, lighten(@brand-primary, 30%), @brand-primary);
        opacity: 0;
        will-change: opacity;
        transition: opacity 150ms ease-in-out;
    }

    &:hover, &:focus {
        border-color: @brand-primary;
        color: #fff;
        box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.75);
        &:after {
            opacity: 1;
        }
    }
}

.btn--search {
    display: flex;
    align-items: center;
    color: @color-stone;
    padding: 9px 25px;
    border: solid 1px #505558;
    font-weight: 900;
    background: linear-gradient(to bottom, #FEFEFE, #E7E7E7);
    will-change: color, border-color, box-shadow;
    transition: color 150ms ease-in-out, border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

    > span {
        display: inline-block;
        width: 23px;
        height: 21px;
        line-height: 0;
        margin-right: 5px;

        path {
            will-change: fill;
            transition: fill 150ms ease-in-out;
        }
    }

    &:hover, &:focus {
        border-color: @brand-primary;
        color: @brand-primary;
        box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.75);

        > span {
            path {
                fill: @brand-primary !important;
            }
        }
    }
}
