@import (reference) "../bootstrap/variables.less";
@import (reference) "../../components/bootstrap/less/mixins.less";
@import (reference) "../mixins.less";
@import (reference) "../utility.less";
@import (reference) "../bootstrap/type.less";

.so-me-list {
    list-style: none;
    margin-bottom: 20px;
    padding: 0 !important;
    color: #99AEBB;
    font-size: 24px;
    > li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
            margin-right:0;
        }

        > a {
            transition: color 250ms ease-in-out;
            &:hover {
                color: @brand-primary;
            }
        }
    }

}
