@import (reference) "../bootstrap/variables.less";
@import (reference) "../../components/bootstrap/less/mixins.less";
@import (reference) "../mixins.less";
@import (reference) "../utility.less";
@import (reference) "../bootstrap/type.less";

.spot {
    
    &__trompet {

    }

    &__heading {

    }

    &__content {

    }
}

.spot--hero-fluid {
    color: #fff;

    .spot {
        &__media {
            height: 80vh;
        }

        &__trumpet {
            .trumpet();
            text-align: center;
        }

        &__heading {
            .fluid-property(margin-bottom, 35, 55);
        }

        &__content {
            position: absolute;
            z-index: 1;
            width: 70vw;
            max-width: 1540px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__call-to-action {
            text-align:center;
        }
    }
}

.spot--content-left {
    position: relative;
    color: #fff;

    .content {
        position: absolute;
        top: calc(~"50% - 40px");
        transform: translateY(-50%);
        left: 0;
        z-index: 1;
    }

    .spot {
        &__media {
            height: 550px;
        }

        &__trumpet {
            .trumpet();
        }

        &__heading {
            .fluid-property(margin-bottom, 17, 27);
        }

        &__content {
            padding: 0 15px;
        }

        &__call-to-action {
            text-align: center;
        }
    }
}

.spot--content-right {
    position: relative;
    color: #fff;

    .content {
        position: absolute;
        top: calc(~"50% + 30px");
        transform: translateY(-50%);
        left: 0;
        z-index: 1;
    }

    .spot {
        &__media {
            height: 550px;
        }

        &__trumpet {
            .trumpet();
        }

        &__heading {
            .fluid-property(margin-bottom, 17, 27);

        }

        &__content {
            padding: 0 15px;
        }

        &__call-to-action {
            text-align: center;
        }
    }
}
