@import (reference) "bootstrap/variables.less";
@import (reference) "mixins.less";
@import (reference) "../components/bootstrap/less/mixins.less";



/*****************************************
    Code re-used in severel modules
******************************************/

.fluid-line-base {
    .fluid-property(margin-bottom, 35, 50);
}

.fluid-line-base-spacer {
    .fluid-property(margin-top, 35, 50);
    .clearfix();
}

.fluid-spacer100 {
    .fluid-property(margin-top, 50, 100);
    .clearfix();
}

.fluid-spacer40 {
    .fluid-property(margin-top, 25, 40);
    .clearfix();
}

.no-overflow {
    overflow: hidden;
}

picture {
    img {
        .img-responsive();
    }
}

.col-padding {
    margin-left: 15px;
    margin-right: 15px;
}

.row-spacing {
    .fluid-property(margin-bottom, 50, 75);
}

.link-hover {
    .line-bottom-hover(@text-color, @brand-primary);
}

img {
    .img-responsive();
}

.font-serif {
    font-family: @font-family-serif;
}

.font-sans-serif {
    font-family: @font-family-serif;
}

.color-primary {
    color: @brand-primary;
}

.color-stone {
    color: #99AEBB;
}

.bg-dark {
    background-color: #060405;
    color: #fff;
}

.weight-black {
    font-weight: 900;
}

.spacer20 {
    .fluid-property(margin-top, 15, 20);
    .clearfix();
}

.spacer25 {
    .fluid-property(margin-top, 15, 25);
    .clearfix();
}

.spacer30 {
    .fluid-property(margin-top, 20, 30);
    .clearfix();
}

.spacer33 {
    .clearfix();

    @media(min-width: @screen-md-min) {
        margin-top: 33px;
    }
}

.spacer35 {
    .fluid-property(margin-top, 20, 35);
    .clearfix();
}

.spacer40 {
    .fluid-property(margin-top, 25, 40);
    .clearfix();
}

.spacer45 {
    .fluid-property(margin-top, 25, 45);
    .clearfix();
}

.spacer75 {
    .fluid-property(margin-top, 45, 75);
    .clearfix();
}

.spacer150 {
    .fluid-property(margin-top, 100, 150);
    .clearfix();
}

.container-edge {
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    &--no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.reset-margin {
    margin: 0 !important;
}

.overflow-visible {
    overflow: visible !important;
}

.inline-block {
    display: inline-block !important;
}

.margin-t0 {
    margin-top: 0 !important;
}

.margin-bt0 {
    margin-bottom: 0 !important;
}

.margin-t10 {
    margin-top: 5px !important;
}

.margin-bt5 {
    margin-bottom: 5px !important;
}

.margin-t5 {
    margin-top: 10px !important;
}

.margin-bt10 {
    margin-bottom: 10px !important;
}

.margin-t15 {
    .fluid-property(margin-top, 10, 15);
}

.margin-bt15 {
    .fluid-property(margin-bottom, 10, 15);
}

.margin-t20 {
    .fluid-property(margin-top, 15, 20);
}

.margin-bt20 {
    .fluid-property(margin-bottom, 15, 20);
}

.margin-bt25 {
    .fluid-property(margin-bottom, 20, 25);
}

.margin-t25 {
    .fluid-property(margin-top, 20, 25);
}

.margin-bt30 {
    .fluid-property(margin-bottom, 25, 30);
}

.margin-t30 {
    .fluid-property(margin-top, 25, 30);
}

.margin-t40 {
    .fluid-property(margin-top, 25, 40);
}

.margin-bt40 {
    .fluid-property(margin-bottom, 25, 40);
}

.margin-bt45 {
    .fluid-property(margin-bottom, 25, 45);
}

.margin-t45 {
    .fluid-property(margin-top, 25, 45);
}

.margin-bt50 {
    .fluid-property(margin-bottom, 30, 50)
}

.margin-t50 {
    .fluid-property(margin-top, 30, 50);
}

.margin-bt55 {
    .fluid-property(margin-bottom, 35, 55)
}

.margin-t55 {
    .fluid-property(margin-top, 35, 55);
}

.margin-bt65 {
    .fluid-property(margin-bottom, 45, 65)
}

.margin-t65 {
    .fluid-property(margin-top, 45, 65);
}

.margin-bt70 {
    .fluid-property(margin-bottom, 45, 70);
}

.margin-t70 {
    .fluid-property(margin-top, 45, 70) !important;
}

.margin-bt80 {
    .fluid-property(margin-bottom, 55, 80);
}

.margin-t80 {
    .fluid-property(margin-top, 55, 80) !important;
}

.row--col-margin-bt10 {
    > [class*="col-"] {
        margin-bottom: 10px;
    }
}

.overlay-dark {
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(6,4,5,0.6);
        z-index: 1;
    }
}

.border-bottom--left-lighter-dark {
    .skewed-border-bottom-left(@brand-primary, @color-lighter-dark)
}

.border-bottom--left-white {
    .skewed-border-bottom-left(@brand-primary)
}

.border-bottom--left-black {
    .skewed-border-bottom-left(@brand-primary, @gray-base)
}

.border-bottom--right-lighter-dark {
    .skewed-border-bottom-right(@brand-primary, @color-lighter-dark)
}

.bg-lighter-dark, .bg-187 {
    background-color: @color-lighter-dark;
    color: #fff !important;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.text-center {
    text-align: center;
}

.flex-right {
    margin-left: auto;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    /* Safari fix
     * See: http://stackoverflow.com/questions/32894387/safari-flexbox-does-not-contain-its-elements-properly
    */
    &.row {
        &:before,
        &:after {
            display: none;
        }
    }
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Safari fix
     * See: http://stackoverflow.com/questions/32894387/safari-flexbox-does-not-contain-its-elements-properly
    */
    &.row {
        &:before,
        &:after {
            display: none;
        }
    }
}

.link-list {
    .fluid-line-base();
    padding: 0;
    list-style: none;
    line-height: 1;
    color: #575E61;

    > li {
        margin: 0 0 12px;

        a {
            .line-bottom-hover(#575E61, @brand-primary);
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    opacity: 1;
    will-change: opacity, top;
    transition: opacity 500ms ease, top 300ms ease-in-out;

    &--top {
        top: 25px;
    }

    &--hide {
        opacity: 0;
        transition: opacity 200ms ease, top 300ms ease-in-out;
    }

    &--show {
        opacity: 1;
    }
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
}