@inherits UmbracoViewPage<MediaListViewModel>

<div class="no-result">
    <h4 class="margin-t70 color-brand">Der blev desværre ikke fundet noget resultat. Prøv med noget andet.</h4>
    <div class="spacer150"></div>
</div>