@inherits UmbracoViewPage

@{
    Html.RequiresJs("~/scripts/build/navbar.js", 1, 1);

    var root = Model.AncestorOrSelf<Website>();
    var website = Model.AncestorOrSelf<Culture>() != null ?
        Model.AncestorOrSelf<Culture>() as IGenericWebsite :
        root;

    var logo = Model.GetPropertyValue<IPublishedContent>("logo", true);

}

<header class="navbar-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header__content">
                    @if (logo != null)
                    {
                        <a href="@website.Url" class="navbar-header__logo">
                           <img src="@logo.Url" alt="Logo" />
                        </a>
                    }
                    <button role="button" class="navbar-header__expander btn btn--toggle"></button>
                    <div class="navbar-header__navbar">
                        @Html.CachedPartial("_Navbar", Model, 3600, cacheByPage: true)
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
