@inherits UmbracoViewPage

@{
    Html.RequiresJs("~/scripts/build/cookie-consent.js", 1, 2, new { @defer = string.Empty } );
    string COOKIE_NAME = "CookieConsent";
}

@if (Request.Cookies[COOKIE_NAME] == null)
{
    <form class="cookie-consent">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cookie-consent__content">
                        @Html.Raw(Model.GetPropertyValue("cookieConsentText", true, ""))
                        <button type="submit" class="cookie-consent__submit btn btn--default btn--sm">
                            <span aria-hidden="true">@Umbraco.GetDictionaryValue("Cookie Consent", "Forstået")</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}