@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using TNNPlay.Web.Helpers

@foreach (var item in Model.Items)
{
    @renderCarousel(item)
}

@helper renderCarousel(LeBlenderValue content)
{
    var heading = content.GetValue<string>("heading");
    var text = content.GetValue<string>("text");
    var contentPicker = content.GetValue<IPublishedContent>("contentPicker");

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
                @if (!heading.IsNullOrWhiteSpace())
                {
                    <h2 class="margin-bt15">@Html.Raw(heading)</h2>
                    if (!text.IsNullOrWhiteSpace())
                    {
                        <div class="">@Html.Raw(text)</div>
                    }
                    <div class="spacer60"></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            @{
                Html.RenderPartial(
                "Components/_CarouselCards",
                    new CarouselCardsViewModel
                    {
                        MediaList = contentPicker.Descendants().Where(x => x.IsVisible() && (x.DocumentTypeAlias.Equals("gridPage") || x.DocumentTypeAlias.Equals("themePage") || x.DocumentTypeAlias.Equals("newsPage"))),
                        CarouselClassModifier = "owl-carousel--list",
                        CardClassModifier = "card--carousel",
                        Options = "{\"responsive\":{\"0\":{\"items\":1,\"stagePadding\":0},\"480\":{\"items\":2,\"stagePadding\":0},\"768\":{\"items\":3,\"stagePadding\":0},\"992\":{\"items\":3,\"stagePadding\":0},\"1200\":{\"items\":4,\"stagePadding\":0},\"1440\":{\"items\":4,\"stagePadding\":0}},\"nav\":true,\"loop\":false,\"dots\":true,\"navText\":[\"\",\"\"],\"autoplay\":false,\"margin\":30,\"autoHeight\":true}",
                        TypedWidths = new TypedWidths
                        {
                            TypedXxl = 365,
                            TypedXl = 325,
                            TypedLg = 265,
                            TypedMd = 295,
                            TypedSm = 220,
                            TypedMs = 345,
                            TypedXs = 215
                        },
                        MediaHeights = new MediaHeights
                        {
                            HeightXxl = 365,
                            HeightXl = 325,
                            HeightLg = 265,
                            HeightMd = 295,
                            HeightSm = 220,
                            HeightMs = 345,
                            HeightXs = 215
                        },
                        MediaListSettings = new MediaListSettings
                        {
                            ShowImage = true,
                            ShowLead = true
                        }
                    }
                ); }
            </div>
        </div>
    </div>
}
